# KEYS!
keystore.jks
keystore.b64
# Kotlin & Java build outputs
/build/
**/build/
out/
**/bin/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
android/libs

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Android specific
.cxx/
*.apk
*.ap_
*.dex
*.class
*.lock
captures/
*.idsig

# Misc
*.swp
*.tmp
