<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:icon="@mipmap/ic_launcher"
        android:label="LETetris">
        <activity android:name="org.reedstrom.letetris.AndroidLauncher"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
	    android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
</manifest>
